<div class="col-1">
  <a class=" btn btn-danger" [routerLink]="['create']" > Create</a>
</div>
<table>
  <thead>
  <tr>
    <th>#</th>
    <th>Teen nhaf</th>
    <th>Loai</th>
    <th>Sua</th>
    <th>xoa</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let h of homes">
    <td>{{h.id}}</td>
    <td>{{h.name}}</td>
    <td>{{h.category?.name}}</td>
    <td><a class="btn btn-warning" [routerLink]="['edit',h.id]"> Edit</a></td>
    <td><a class=" btn btn-info" (click)="delete(h.id)">Xoa</a></td>
  </tr>
  </tbody>
</table>
